
.logo{
  display: flex;
  flex-direction: column;
  width: 50px;
  text-decoration: none;
  font-family: Helvetica;
  color: white;
  position: relative;
  white-space: nowrap;
  cursor: pointer;
}

img.logo{
  position:relative;
  width: 280px;
  height: 130px;
  padding: 0;
  margin: 0;
}


.logo:hover{
  color: #444;
}

h2.logo{
  font-size: 20px;
  padding: 10px;
  position: absolute;
  margin: 100px 0 0 20px;
}


nav ul{
  float:right;
}

nav li{
  margin-left: 70px;
  margin-top: -100px;
  margin-right: 20px;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}

nav a{
  text-decoration: none;
  font-family: Helvetica;
  font-size: 1em;
  color: white;
}

nav a:hover{
  color:#444;
}

body{
  background-color: black;
  background-image: url('https://i.pinimg.com/originals/6b/81/a1/6b81a1049b32cfa0fe2038fbc0a6d097.png');
  background-repeat: no-repeat;
  background-position: right 52% bottom 10%;
  background-attachment: fixed;
  background-size: 500px;
}


h1{
  color: white;
  display:flex;
  display:inline-block;
  justify-content: center;
  text-align: center;
  margin-top: 5%;
  margin-left: 35%;
  margin-bottom: 0;
  font-family: Helvetica;
  font-size:50px;

}

#search-bar{
  display:flex;
  margin-top:30px;
  margin-left: 70px;
  justify-content: center;
  align-items: center;
}

#search-input{
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  width: 425px;
  height: 40px;
  font-size: 20px;
  font-family: Helvetica;
  font-weight: bold;
}

#submit{
  cursor: pointer;
  margin-left: 10px;
  border-radius: 5px;
  font-size: 17px;
  font-family: Helvetica;
  background-color:#444;
  color: white;
}

#cards-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1.5em;
  margin-top: 40px;
  margin-right: 35px;
  margin-left: 35px;
}

.card{
  text-align: center;
  padding-bottom: 5px;
  background-color: white;
  border: 5px solid #444;
  font-family: Helvetica;
  border-radius: 12px;
}

img.card-img{
  width: 100%;
  border-radius: 10px;
  height: 214px;
  align-items: center;
  position: relative;
  margin-bottom: 20px;
  padding: 0;
}


.empty{
  color:white;
  border-radius: 12px;
  background-color: #444;
  
}

.full{
  color:red;
  border-radius: 12px;
  background-color: #444;
}

like :hover{
  color:red;
}

h3{
  margin-top: 0px;
  margin-bottom: 10px;
}

.background-image{
  width: 100%;
  border-radius: 12px;
  height: 500px;
  align-items: center;
  margin-top: 30px;
}


.hidden-next{
  display:none;
}

.hidden-back{
  display: none;
}

.show-next{
  float: right;
  border-radius: 12px;
  margin-bottom: 17px;
  margin-right: 17px;
  font-size: 20px;
  cursor: pointer;
  color:white;
  background-color: #444;

}

.show-back{
  float: left;
  border-radius: 12px;
  margin-bottom: 17px;
  margin-left: 17px;
  font-size: 20px;
  cursor: pointer;
  color:white;
  background-color: #444;
}

/* .card-alert-warning{
  color:white;
} */