header{
  padding-bottom: 80px;
}
.logo{
  display:flex;
  float:left;
  padding: 38px 0 30px 30px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Creepster';
  color: #62a4ab;
  
}
.logo:hover{
  color: #444;
}
nav ul{
  float:right;
  padding: 20px;
}

nav li{
  display:inline-block;
  margin-left: 70px;
  padding-right:30px;
  font-size: 30px;
  cursor: pointer;
}
nav a{
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Creepster';
  font-size: 1em;
  color: #62a4ab;
  justify-content: space-around;
}

nav a:hover{
  color:#444;
}

body{
  background-color: black;
}


h1{
  color: #62a4ab;
  display:flex;
  display:inline-block;
  justify-content: center;
  text-align: center;
  margin-left: 40%;
  margin-bottom: 0;
  font-family: 'Creepster';

}
#search-bar{
  display:flex;
  margin-top:30px;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

#search-input{
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  width: 400px;
  height: 30px;
}

#submit{
  cursor: pointer;
  margin-left: 10px;
  border-radius: 5px;
  font-size: 15px;

}

.card{
  text-align: center;
  width: 50%;
  width: 15rem;
  padding: .5rem;
  background-color: white;
  border: 5px solid #bacdd8;
  border-radius: 12px;
  display: inline-grid;
}