.logo{
  display:flex;
  float:left;
  padding: 38px 0 30px 30px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Creepster', cursive;
  color: #62a4ab;
  
}
nav ul{
  float:right;
  padding: 20px;
}

nav li{
  display:inline-block;
  margin-left: 70px;
  padding-right:30px;
  font-size: 30px;
  cursor: pointer;
}
nav a{
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Creepster', cursive;
  font-size: 1em;
  color: #62a4ab;
  justify-content: space-around;
}

nav a:hover{
  color:#444;
}

body{
  background-color: black;
}